
body {
    font-family: Arial, sans-serif;
    text-align: center;
    margin: 0;
    padding: 0;
}

h1 {
    margin-top: 20px;
    color: #333;
}


.container {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.image-box {
    width: 100px;
    height: 100px;
    border: 1px solid #000;
    margin: 10px;
    background-size: cover;
    cursor: pointer;
}

button {
    margin: 10px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
}

button:disabled {
    background-color: #ccc;
    cursor: not-allowed;
}
